head {
	font-family: "Helvetica";
}

body {
    background-color: black;
    font-size: 48px;
    color: white;
    font-family: "Helvetica";

}

h1 {
   color: orange;
    text-align: center;
    font-family: "Helvetica";

}

p {
    font-family: "Helvetica";
    font-size: 20px;
}

div {
	font-family: "Helvetica";
}

#mydiv{
    font-size: 54px;
    font-weight: bolder;
    color: orange;
}
#container{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

#regtext{
    font-size: 48px;
    font-weight: normal;
    color: white;
}

#secretText{
    font-size: 48px;
    font-weight: bold;
    color: black;
}

#boozeText{
    font-size: 48px;
    font-weight: normal;
    color: black;
}

.grid_7{
    color: white;
}

#djheading{
    font-size: 32px;
    font-weight: bold;
    color: white;

}

#rena1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

#rena2{
    font-size: 0px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    color: orange;
    visibility: visible;
}


#jason1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

#jason2{
    font-size: 0px;
    font-weight: bold;
    color: orange;
    font-family: "Comic Sans MS";
    visibility: visible;
}


#kyle1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

#kyle2{
    font-size: 0px;
    font-weight: bold;
    color: orange;
    font-family: "Comic Sans MS";
    visibility: visible;
}


#devin1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

#devin2{
    font-size: 0px;
    font-weight: bold;
    color: orange;
    font-family: "Comic Sans MS";
    visibility: visible;
}


#tba1{
    font-size: 32px;
    font-weight: lighter;
    color: white;
}

#tba2{
    font-size: 0px;
    font-weight: bold;
    color: red;
    font-family: "Comic Sans MS";
    visibility: visible;
}

#djbody{
    font-size: 32px;
    font-weight: normal;
    color: white;
}

