<html>
  <head>
  <title>MAD LIBS</title>
  </head>
  <body>
  <h1>IT WAS A GOOD DAY</h1>
  <h4>
        Just waking up in the <%= allComments[0].loc1 %>, gotta thank <%= allComments[0].famousperson %>.<br />
        I don't know, but today seems kinda <%= allComments[0].adj1 %>.<br />
        No <%= allComments[0].sound %> from the <%= allComments[0].animal1 %>,<br />
        no smog, and momma cooked a breakfast with no <%= allComments[0].food %>.<br />
        I got my grub on, but didn't <%= allComments[0].verb1 %> out.<br />
        Finally got a call from a girl I want to <%= allComments[0].verb2 %>. <br />
        Hooked it up for later as I hit the door, thinking will I live to see another <%= allcomments[0].person1 %>? <br />
        I gotta go 'cause I got me a <%= allComments[0].noun1 %>, and if I hit the switch I can make the ass <%= allComments[0].verb3 %>.<br />
        Had to stop at a <%= allComments[0].business %>; looking in the mirror, not a <%= allComments[0].person2 %> in sight and everything is <%= allComments[0].adjective %>.<br />
        I got a beep from <%= allComments[0].woman %> and she can <%= allComments[0].verb4 %> all night.<br />
        Calling up the <%= allComments[0].group %> and I'm asking y'all, "Which <%= allComments[0].loc2 %> are y'all playing <%= allComments[0].game %>?"<br />
        Get me on the <%= allComments[0].surface %> and I'm trouble. Last week, <%= allComments[0].verb5 %> around and got a <%= allComments[0].achievement %>.<br />
        Freaking <%= allComments[0].noun %> every way like <%= allComments[0].athlete %>. I can't believe today was a <%= allComments[0].adj3 %> day.
  </h4>
  </body>
</html>